<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Statics/styles.css">
  <link rel="icon"  href="../Statics/imges/snorlax.png" type="image/x-icon">
  <title>Tienda de Pokémon</title>

</head>
<body>
  <h1>Tienda de Pokémon</h1>
  <p>¡Bienvenido a nuestra tienda Pokémon! Aquí encontrarás todo lo que necesitas para tu aventura como entrenador Pokémon. Sumérgete en un mundo lleno de criaturas sorprendentes, emocionantes batallas y amistades duraderas..</p>
  <div class="producto-grid">

    <div class="producto">
      <img src="../Statics/imges/54.jpg" alt="Psyduck">
      <h3>Psyduck</h3>
      <p>Tiene poderes místicos que no recuerda haber usado. Por eso, siempre parece desconcertado.</p>
      <hr>
      <p>Precio: $565.00</p>
    </div>

    <div class="producto">
      <img src="../Statics/imges/132.jpg" alt="Ditto">
      <h3>Ditto</h3>
      <p>Tiene la capacidad de reorganizar su estructura celular para convertirse en otras formas de vida.</p>
      <hr>
      <p>Precio: $398.00</p>
    </div>

    <div class="producto">
      <img src="../Statics/imges/845.png" alt="Cramorant ">
      <h3>Cramorant </h3>
      <p>Debido a su insaciable apetito, intentó engullir un enorme Arrokuda y se le quedó atravesado en el gaznate.</p>
      <hr>
      <p>Precio: $731.00</p>
    </div>

    <div class="producto">
      <img src="../Statics/imges/470.jpg" alt="Leafeon">
      <h3>Leafeon</h3>
      <p>Al igual que una planta, hace la fotosíntesis. Como consecuencia, siempre está rodeado de aire puro.</p>
      <hr>
      <p>Precio: $470.00</p>
    </div>

    <div class="producto">
      <img src="../Statics/imges/240.jpg" alt="Magby">
      <h3>Magby </h3>
      <p>Su sangre es como magma y su temperatura corporal puede alcanzar los 600 °C.</p>
      <hr>
      <p>Precio: $240.00</p>
    </div>

    <div class="producto">
      <img src="../Statics/imges/658.jpg" alt="Greninja ">
      <h3>Greninja </h3>
      <p>Aparece y desaparece de improvisto, cual ninja. Marea al oponente con su soberbia agilidad y lo hace trizas con sus Shuriken de Agua.</p>
      <hr>
      <p>Precio: $699.99</p>
    </div>

    <div class="producto">
        <img src="../Statics/imges/276.jpg" alt="Taillow ">
        <h3>Taillow</h3>
        <p> No le gustan las bajas temperaturas. En las estaciones frías se recorre casi 300 km al día en busca de zonas cálidas.</p>
        <hr>
        <p>Precio: $276.00</p>
    </div>
  
    <div class="producto">
        <img src="../Statics/imges/893.jpg" alt="Zarude">
        <h3>Zarude</h3>
        <p>Ha abandonado la manada para criar a un bebé humano. Lleva una manta impregnada de un olor que calma el llanto del retoño.</p>
        <hr>
        <p>Precio: $893.00</p>
    </div>
  
    <div class="producto">
        <img src="../Statics/imges/890.jpg" alt="Eternatus ">
        <h3>Eternatus </h3>
        <p>Esta forma es el resultado de la sobrecarga que ha recibido tras absorber gran cantidad de energía de Galar por mediación de Rose.</p>
        <hr>
        <p>Precio: $890.00</p>
    </div>

  </div>

</body>
</html>