<!DOCTYPE html>
<html>
<head>
    <title>Mi presentación</title>
    <link rel="stylesheet" type="text/css" href="./Statics/styles.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
    
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 5px solid #0879bb;
        }
    
        th {
            background-color: #0879bb;
        }
    </style>
</head>
<body>
    <div id="container">
        <header>
            <h1>¡Holaa! Soy Julio Cesar</h1>
            <h2>Esta es mi presentación</h2>
        </header>

        <section id="about">
            <h2>Sobre mí</h2>
            <img src="./Statics/Mi imagen.jpg.jpeg" alt="Mi imagen" width="250px" height="350px">
<hr>
            <h2>Tema de mi interés</h2>
            <p><strong>La ballena jorobada</strong>, también conocida como <em>Megaptera novaeangliae</em>, es una especie de cetáceo que pertenece a la familia Balaenopteridae. Se caracteriza por su impresionante tamaño, sus comportamientos acrobáticos y su distintiva aleta dorsal en forma de joroba.</p>
            <p>Estas magníficas criaturas son conocidas por sus <u>espectaculares exhibiciones acuáticas</u>. Son capaces de realizar saltos impresionantes fuera del agua, golpeando la superficie con fuerza y creando un gran chapoteo.</p>
            <p>La ballena jorobada es un ejemplo fascinante de la diversidad y la belleza de la vida marina. Su majestuosidad, sus habilidades acrobáticas y su importancia ecológica la convierten en una especie icónica y digna de <strong>admiración y protección</strong>.</p>
            <img src="./Statics/BallenaJ.jpg.jpg" alt="Ballena jorobada" width="550px" height="350px"></a>
        </section>
<hr>
        <section id="music">
            <h2>Mis canciones favoritas del momento son:</h2>
            <ol>
                <li><strong>Como Jordan</strong> - Junior H</li><img src="./Statics/JuniorH.jpg" alt="JuniorH" width="350px" height="250px"></a>
                <li><strong>Atrapado En Un Sueño</strong> - Junior H</li><img src="./Statics/JuniorH.jpg" alt="JuniorH" width="350px" height="250px"></a>
                <li><strong>PNL</strong> - Aleman</li><img src="./Statics/Aleman.jpg" alt="Aleman" width="350px" height="250px"></a>
                <li><strong>Té de Canela</strong> - Aleman</li><img src="./Statics/Aleman.jpg" alt="Aleman" width="350px" height="250px"></a>
            </ol>
        </section>
<hr>
        <section id="programming">
            <h2>Programas Web Favoritos:</h2>
            <ol>
                <li><strong>CSS</strong></li><img src="./Statics/Mri.jpg" alt="Mr Increible" width="350px" height="250px"></a>
                <li><strong>HTML</strong></li><img src="./Statics/Mri2.jpg" alt="Mr Increible 2" width="350px" height="250px"></a>
                <li><strong>PHP</strong></li><img src="./Statics/Mri3.jpg" alt="Mr Increible 3" width="350px" height="250px"></a>
                <li><strong>Bases de Datos</strong></li><img src="./Statics/Mri4.jpg" alt="Mr Increible 4" width="350px" height="250px"></a>
                <li><strong>Git y GitHub</strong></li><img src="./Statics/Mri5.jpg" alt="Mr Increible 5" width="350px" height="250px"></a>
            </ol>
        </section>
<hr>        
        <footer>
            <h3>Mi Canción Favorita</h3>
            <p>Haz clic en el enlace para ver el video:</p>
            <a href="https://www.youtube.com/watch?v=mvLYLTKAN40">Ver video</a>
        </footer>
<hr>
        <h3>Tabla de mis personajes favoritos</h3>
        <table>
            <thead>
                <tr>
                    <th>Nombre del personaje</th>
                    <th>Imagen</th>
                    <th>Por qué son mis favoritos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Bugs Bunny</strong></td>
                    <td><img src="./Statics/bugs bunny.jpg.jpg" alt="Bugs Bunny" width="400px" height="350px"></td>
                    <td>Bugs Bunny es uno de mis personajes favoritos porque es ingenioso, divertido y siempre se mete en situaciones hilarantes. Su personalidad traviesa y su habilidad para salirse con la suya lo hacen muy entretenido de ver. Además, su sentido del humor sarcástico y sus chistes siempre me hacen reír.</td>
                </tr>
                <tr>
                    <td><strong>SpongeBob</strong></td>
                    <td><img src="./Statics/Bobesponja.jpg.jpg" alt="SpongeBob" width="400px" height="350px"></td>
                    <td>SpongeBob es uno de mis personajes favoritos porque es optimista, amigable y tiene un corazón de oro. Siempre encuentra la alegría en las situaciones más simples y su inocencia es encantadora. Además, sus aventuras en Fondo de Bikini son siempre divertidas y me encanta su risa contagiosa.</td>
                </tr>
                <tr>
                    <td><strong>Pikachu</strong></td>
                    <td><img src="./Statics/Pikachu.jpg.jpg" alt="Pikachu" width="400px" height="350px"></td>
                    <td>Pikachu es uno de mis personajes favoritos de la caricatura Pokémon. Es adorable, leal y valiente. Me encanta su apariencia y su distintivo sonido "Pika Pika". Además, su relación con Ash en la serie es muy conmovedora y demuestra la importancia de la amistad.</td>
                </tr>
                <tr>
                    <td><strong>Gumball</strong></td>
                    <td><img src="./Statics/Gumball.jpg.jpg" alt="Gumball" width="400px" height="350px"></td>
                    <td>Gumball, de la serie "The Amazing World of Gumball", es uno de mis personajes favoritos. Su personalidad divertida y su imaginación desbordante hacen que sus aventuras sean siempre entretenidas. Además, su estilo de animación único combina diferentes técnicas y le da un aspecto visualmente atractivo.</td>
                </tr>
            </tbody>
        </table>
    </div>
    
<hr>
<h2>Mi dibujo</h2>

<h3>" Pikachu "</h3>    
    <style>
      table {
          border-collapse: collapse;
          width: 100%;
      }

      th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 5px solid #0879bb;
      }

      th {
          background-color: #0879bb;
      }

      #pikachu-container {
          margin-top: 20px; 
      }
  </style>
</head>
<body>
  <div id="container"> 
      <div id="pikachu-container">
          <div class="pikachu">
              <div class="nose-cheeks"></div>
              <div class="smile"></div>
          </div>
      </div>
  </div>
</body>
</html>
</html>
