<!DOCTYPE html>
<html>
<head>
    <title>Mi presentación</title>
</head>
<body style="background-color: #AED6F1;">
    <h1>¡Holaa! Soy Julio Cesar</h1>
    
    <h2>Esta es mi presentación</h2>

    <img src="Mi imagen.jpg.jpeg" width="250px" height="350px">
</body>
<hr>
<h2>Tema de mi interes</h2>
<body>
    <p><strong>La ballena jorobada</strong>, también conocida como <em>Megaptera novaeangliae</em>, es una especie de cetáceo que pertenece a la familia Balaenopteridae. Se caracteriza por su impresionante tamaño, sus comportamientos acrobáticos y su distintiva aleta dorsal en forma de joroba.</p>

    <p>Estas magníficas criaturas son conocidas por sus <u>espectaculares exhibiciones acuáticas</u>. Son capaces de realizar saltos impresionantes fuera del agua, golpeando la superficie con fuerza y creando un gran chapoteo.</p>

    <p>La ballena jorobada es un ejemplo fascinante de la diversidad y la belleza de la vida marina. Su majestuosidad, sus habilidades acrobáticas y su importancia ecológica la convierten en una especie icónica y digna de <strong>admiración y protección</strong>.</p>

    <a href="https://scontent.fmex3-3.fna.fbcdn.net/v/t1.6435-9/140005911_213210487143215_8501342739642376313_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFhjHRsOn-jQvuJxTmyFLGzy_AvbyapxG_L8C9vJqnEb07eq-YwCTdCfxpYx3SQK6weAuL6Lkl7QyExtLSCsWUD&_nc_ohc=1cJnmkLkUA4AX-UsBBb&_nc_ht=scontent.fmex3-3.fna&oh=00_AfCiddZRrZxLzA05t404ODuuLdNRets9uJzeVF_MISOrCg&oe=64873B82"><img src="ballena.jpg" width="550px" height="350px"></a>
</body>
<hr>
<h2>Listas:</h2>
<p>A continuacion les presento una lista odenada sobre las peliculas que mas me gustan, y en la parte de abajo de esta se encuentra una lista desordenada de mi comida favorita</p>
<h3>Lista ordenada:</h3>
<body>
    <ol type="1">

        <li>Cars</li>

        <li>Sin novedad en el frente</li>

        <li>Inquebrantable</li>

        <li>El Padrino</li>

        <li>Volver al futuro</li>

      </ol>
    <h3>Lista desordenada</h3>

      <ul type="circle">

    <li>Enchiladas (verdes y de mole)</li>

    <li>Tacos de Pastor</li>

    <li>Mole con pollo</li>

    <li>Pozole</li>

    </ul>
</body>

<hr>
<h3>Mi Canción Favorita</h3>
<body>
    <p>Haz clic en el enlace para ver el video:</p>
 
    <a href="https://www.youtube.com/watch?v=mvLYLTKAN40">Ver video</a>

</body>

<hr>
<h3>Tabla de mis personajes favoritos</h3>
<title>Personajes favoritos de caricaturas</title>
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 5px solid #0879bb;
    }
    
    th {
      background-color: #0879bb;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Nombre del personaje</th>
        <th>Imagen</th>
        <th>Por qué son mis favoritos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bugs Bunny</td>
        <td><img src="bugs bunny.jpg.jpg" alt="Bugs Bunny" width="400px" height="350px"></td>
        <td>Bugs Bunny es uno de mis personajes favoritos porque es ingenioso, divertido y siempre se mete en situaciones hilarantes. Su personalidad traviesa y su habilidad para salirse con la suya lo hacen muy entretenido de ver. Además, su sentido del humor sarcástico y sus chistes siempre me hacen reír.</td>
      </tr>
      <tr>
        <td>SpongeBob</td>
        <td><img src="Bobesponja.jpg.jpg" alt="SpongeBob " width="400px" height="350px"></td>
        <td>SpongeBob es uno de mis personajes favoritos porque es optimista, amigable y tiene un corazón de oro. Siempre encuentra la alegría en las situaciones más simples y su inocencia es encantadora. Además, sus aventuras en Fondo de Bikini son siempre divertidas y me encanta su risa contagiosa.</td>
      </tr>
      <tr>
        <td>Pikachu</td>
        <td><img src="Pikachu.jpg.jpg" alt="Pikachu" width="400px" height="350px"></td>
        <td>Pikachu es uno de mis personajes favoritos de la caricatura Pokémon. Es adorable, leal y valiente. Me encanta su apariencia y su distintivo sonido "Pika Pika". Además, su relación con Ash en la serie es muy conmovedora y demuestra la importancia de la amistad.</td>
      </tr>
      <tr>
        <td>Gumball</td>
        <td><img src="Gumball.jpg.jpg" alt="Gumball" width="400px" height="350px" ></td>
        <td>Gumball, de la serie "The Amazing World of Gumball", es uno de mis personajes favoritos. Su personalidad divertida y su imaginación desbordante hacen que sus aventuras sean siempre entretenidas. Además, su estilo de animación único combina diferentes técnicas y le da un aspecto visualmente atractivo.</td>
      </tr>
    </tbody>
  </table>
</body>
</html>